<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="MotionX"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MotionX">

        <!-- SETTINGS -->
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />

        <!-- HOME / DASHBOARD -->
        <activity
            android:name=".HomeActivity"
            android:exported="false" />

        <!-- LOGIN -->
        <activity
            android:name=".LoginActivity"
            android:exported="false" />

        <!-- REGISTER -->
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />

        <!-- WELCOME / LAUNCH SCREEN -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".CommunityActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ChallengesActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".FollowingActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".DiscoverAthletesActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".LeaderboardActivity"
            android:exported="false" />
        <activity
            android:name=".GroupsActivity"
            android:exported="false" />
        <activity
            android:name=".CreateGroupActivity"
            android:exported="false" />
    </application>


</manifest>